@media (max-width: 1199px) {
  .footer-container .footer-title__inner h2 {
    font-size: 40px !important;
    line-height: 65px !important;
  }
}
@media (max-width: 991px) {
  .greeting-block .greeting-block__container .main-info .salutation {
    font-size: 22px !important;
  }

  .greeting-block .greeting-block__container .main-info .salutation .myNameis {
    font-size: 35px !important;
  }

  .greeting-block .greeting-block__container .main-info .salutation .name {
    font-size: 40px !important;
  }

  .greeting-block .greeting-block__container .main-info .speciality {
    font-size: 25px !important;
  }

  .greeting-block .greeting-block__container .main-info .speciality {
    letter-spacing: 3px !important;
  }

  .services-block .services-container .card-3d-wrapper {
    width: 580px !important;
    height: 445px !important;
  }

  .services-block .pricing-wrap .img-1 {
    right: -45px !important;
  }

  .services-block .pricing-wrap .img-4 {
    left: -45px !important;
  }

  .projects-title__main h2 {
    font-size: 60px !important;
    line-height: 70px !important;
  }

  .bg-title {
    font-size: 80px !important;
  }

  .projects-title__main p:not(.title-phrase) {
    font-size: 18px !important;
  }

  .tools-block .tools-container .tools-wrapper .tool {
    flex-basis: 125px !important;
  }

  .footer-container .footer-title__inner h2 {
    font-size: 35px !important;
    line-height: 60px !important;
  }

  .projects-container .projects__inner .projects-item {
    flex-basis: 420px !important;
  }

  .services-block .pricing-wrap .img-1,
.services-block .pricing-wrap .img-4 {
    width: calc(20% + 160px) !important;
  }
}
@media (max-width: 768px) {
  .header-block .header-container {
    padding: 0px 30px !important;
  }

  .main-menu {
    display: none !important;
  }

  .menu-btn {
    display: block !important;
  }

  .footer-container .footer-title__inner a {
    -webkit-text-stroke: 1px white !important;
  }

  .footer-container .footer-title__inner h2 {
    font-size: 30px !important;
    line-height: 55px !important;
  }

  .greeting-block .greeting-block__container .main-info {
    top: 35px !important;
  }

  .services-block .services-container .card-3d-wrapper {
    width: 550px !important;
    height: 420px !important;
  }

  .projects-title__main h2 {
    font-size: 50px !important;
    line-height: 60px !important;
  }

  .projects-title__main p:not(.title-phrase) {
    font-size: 16px !important;
  }

  .bg-title {
    font-size: 65px !important;
  }

  .page-title .title-phrase {
    font-size: 10px !important;
  }

  .scroll-animation {
    width: 36px !important;
    height: 71px !important;
  }

  .scroll-animation:before {
    width: 30px !important;
    height: 65px !important;
  }

  .tools-block .tools-container .tools-wrapper .tool {
    flex-basis: 110px !important;
  }

  .footer-container .footer-title__inner {
    align-items: center !important;
    padding: 0px 0px 0px !important;
  }
}
@media (max-width: 675px) {
  .greeting-block .greeting-block__container .main-info,
.greeting-block .greeting-block__container .avatar-container {
    width: 50% !important;
  }

  .greeting-block .greeting-block__container .main-info {
    left: 45px !important;
  }

  .greeting-block .greeting-block__container .main-info .salutation {
    font-size: 18px !important;
  }

  .greeting-block .greeting-block__container .main-info .salutation .myNameis {
    font-size: 30px !important;
  }

  .greeting-block .greeting-block__container .main-info .salutation .name {
    font-size: 35px !important;
  }

  .greeting-block .greeting-block__container .main-info .speciality {
    font-size: 20px !important;
  }

  .greeting-block .greeting-block__container .main-info {
    padding: 10px 20px !important;
  }

  .greeting-block .greeting-block__social .social-list .social-list_li .menu-item i {
    font-size: 12px !important;
  }

  .greeting-block .greeting-block__social .greeting-block__divider {
    height: 0.1px !important;
  }

  .services-block .services-container .card-3d-wrapper {
    width: 490px !important;
    height: 390px !important;
  }

  .services-block .pricing-wrap .img-1 {
    right: -25px !important;
  }

  .services-block .pricing-wrap .img-4 {
    left: -25px !important;
  }

  .footer-container .footer-title__inner h2 {
    font-size: 25px !important;
    line-height: 45px !important;
  }

  .video__wrapper {
    width: 430px !important;
    height: 240px !important;
  }
  .video__wrapper video {
    width: 50% !important;
  }

  .page-title .title {
    font-size: 55px !important;
  }

  .bg-title {
    display: none !important;
  }

  .greeting-block .greeting-block__wrapper {
    padding: 20px 20px 55px !important;
  }
}
@media (max-width: 575px) {
  .services-block .pricing-wrap .img-1,
.services-block .pricing-wrap .img-4 {
    width: calc(20% + 130px) !important;
  }

  .services-block .services-container .card-3d-wrapper {
    width: 430px !important;
    height: 390px !important;
  }

  .services-block .services-container .services__choose-block {
    justify-content: center !important;
  }
  .services-block .services-container .services__choose-block .services__check-item {
    width: calc(40% - 10px) !important;
  }

  .greeting-block__container {
    flex-direction: column-reverse !important;
  }

  .greeting-block .greeting-block__container .main-info {
    width: 100% !important;
    top: -3px !important;
    left: 0px !important;
  }

  .greeting-block .greeting-block__container .avatar-container {
    width: 80% !important;
  }

  .services-block .services-container .services__choose-block {
    width: 300px !important;
  }

  .services-block .services-container .services__choose-block .services__check-item {
    font-size: 14px !important;
  }

  .services-block .services-container .card-3d-wrapper {
    width: 275px !important;
    height: 355px !important;
  }

  .card-3d__title {
    display: none !important;
  }

  .services-block .pricing-wrap .img-1,
.services-block .pricing-wrap .img-4 {
    width: calc(10% + 130px) !important;
  }

  .services-block .pricing-wrap .img-1 {
    right: -10px !important;
  }

  .services-block .pricing-wrap .img-4 {
    left: -10px !important;
  }

  .greeting-block .greeting-block__social {
    flex-direction: column !important;
    justify-content: center !important;
  }

  .greeting-block__divider {
    margin: 0px 0px 10px !important;
  }

  .page-title .title-phrase {
    font-size: 8px !important;
  }

  .page-title .title {
    font-size: 45px !important;
  }

  .back-title {
    font-size: 55px !important;
  }

  .projects-title__main h2 {
    font-size: 30px !important;
    line-height: 45px !important;
  }

  .projects-title__wrapper {
    padding: 80px 25px 40px !important;
  }

  .projects-title__main p:not(.title-phrase) {
    font-size: 12px !important;
  }

  .scroll-animation {
    width: 30px !important;
    height: 65px !important;
    font-size: 15px;
  }
  .scroll-animation:before {
    width: 24px !important;
    height: 59px !important;
  }

  .tools-block .tools-container .tools-wrapper .tool {
    flex-basis: 85px !important;
    margin: 10px 0px !important;
  }
}
@media only screen and (max-width: 991px) {
  #cursor, #aura {
    display: none;
  }

  * {
    cursor: auto !important;
  }
}