$mainColor: #75DAB4;
$hoverColor: #50977c;

$mainFont: "Poppins", sans-serif;
$mainFont2: "Barlow Condensed", sans-serif;

//lighter
$BGColor1: #11141b;

//darken
$BGColor2: #0c0f16;

//background
$background1: '../pictures/background2.png';

//scroll animation
$colorBg: #222a30;
$colorOutline: #ffffff;
$colorOutlineFade: #4e5559;

$widthMouse: 41px;
$heightMouse: 76px;
$borderMouse: 6px;

$posMouse: 8px;
$posText: 2px;

$sizeTrackball: 10px;
$posTrackball: 20px;
$shrinkTrackball: 0.4;

$animDuration: 5s;