@import '_variables.scss';

// keyframes --------------------------------------------------------------------------------------------------------- keyframes
//scroll animation 
@keyframes colorSlide { 
    0% { background-position: 0% 100%; }
    20% { background-position: 0% 0%; }
    21% { background-color: $colorOutlineFade; }
    29.99% { 
      background-color: $colorOutline;
      background-position: 0% 0%;
    }
    30% { 
      background-color: $colorOutlineFade;
      background-position: 0% 100%;
    }
    50% { background-position: 0% 0%; }
    51% { background-color: $colorOutlineFade; }
    59% { 
      background-color: $colorOutline;
      background-position: 0% 0%;
    }
    60% { 
      background-color: $colorOutlineFade;
      background-position: 0% 100%;
    }
    80% { background-position: 0% 0%; }
    81% { background-color: $colorOutlineFade; }
    90%, 100% { background-color: $colorOutline; }
  }
  
  @keyframes trackBallSlide {
    0% {
      opacity: 1;
      transform: scale(1) translateY(-$posTrackball);
    }
    6% { 
      opacity: 1;
      transform: scale(0.9) translateY(calc($posTrackball / 4));
    }
    14% {
      opacity: 0;
      transform: scale($shrinkTrackball) translateY($posTrackball*2);
    }
    15%, 19% {
      opacity: 0;
      transform: scale($shrinkTrackball) translateY(-$posTrackball);
    }
    28%, 29.99% {
      opacity: 1;
      transform: scale(1) translateY(-$posTrackball);
    }
    30% {
      opacity: 1;
      transform: scale(1) translateY(-$posTrackball);
    }
    36% { 
      opacity: 1;
      transform: scale(0.9) translateY(calc($posTrackball / 4));
    }
    44% {
      opacity: 0;
      transform: scale($shrinkTrackball) translateY($posTrackball*2);
    }
    45%, 49% {
      opacity: 0;
      transform: scale($shrinkTrackball) translateY(-$posTrackball);
    }
    58%, 59.99% {
      opacity: 1;
      transform: scale(1) translateY(-$posTrackball);
    }
    60% {
      opacity: 1;
      transform: scale(1) translateY(-$posTrackball);
    }
    66% { 
      opacity: 1;
      transform: scale(0.9) translateY(calc($posTrackball / 4));
    }
    74% {
      opacity: 0;
      transform: scale($shrinkTrackball) translateY($posTrackball*2);
    }
    75%, 79% {
      opacity: 0;
      transform: scale($shrinkTrackball) translateY(-$posTrackball);
    }
    88%, 100% {
      opacity: 1;
      transform: scale(1) translateY(-$posTrackball);
    }
  }
  
  @keyframes nudgeMouse {
    0% { transform: translateY(0); }
    20% { transform: translateY($posMouse); }
    30% { transform: translateY(0); }
    50% { transform: translateY($posMouse); }
    60% { transform: translateY(0); }
    80% { transform: translateY($posMouse); }
    90% { transform: translateY(0); }
  }
  
  @keyframes nudgeText {
    0% { transform: translateY(0); }
    20% { transform: translateY($posText); }
    30% { transform: translateY(0); }
    50% { transform: translateY($posText); }
    60% { transform: translateY(0); }
    80% { transform: translateY($posText); }
    90% { transform: translateY(0); }
  }
  
@keyframes colorText { 
    21% { color: $colorOutlineFade; }
    30% { color: $colorOutline; }
    51% { color: $colorOutlineFade; }
    60% { color: $colorOutline; }
    81% { color: $colorOutlineFade; }
    90% { color: $colorOutline; }
}
//scroll animation

@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
    14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
    28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
    42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
    56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
    70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
    84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}


@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 1);
        background: rgba(255, 255, 255, 1);
    }

    50%{
        box-shadow: 0 0 0 0px rgba(255, 255, 255, .6);
        background: rgba(255, 255, 255, .6);
    }

    100%{
        box-shadow: 0 0 0 1000px #0c0f16;
        background: #0c0f16;
    }
}


@keyframes openTop {
    0% {
        transform: translateY(-5px) rotate(0deg);
    }

    50% {
        transform: translateY(0px) rotate(0deg);
    }

    100% {
        transform: translateY(0px) rotate(90deg);
    }
}
@keyframes closedTop {
    0% {
        transform: translateY(-5px) rotate(0deg);
    }

    50% {
        transform: translateY(0px) rotate(0deg);
    }

    100% {
        transform: translateY(0px) rotate(90deg);
    }
}

@keyframes openMid {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}
@keyframes closedMid {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@keyframes openBtm {
    0% {
        transform: translateY(5px) rotate(0deg);
    }

    50% {
        transform: translateY(0px) rotate(0deg);
    }

    100% {
        transform: translateY(0px) rotate(90deg);
    }
}
@keyframes closedBtm {
    0% {
        transform: translateY(5px) rotate(0deg);
    }

    50% {
        transform: translateY(0px) rotate(0deg);
    }

    100% {
        transform: translateY(0px) rotate(90deg);
    }
}
// keyframes --------------------------------------------------------------------------------------------------------- keyframes