@import '_variables.scss';

// mixins --------------------------------------------------------------------------------------------------------- mixins
@mixin container($maxW, $margin...) {
    max-width: $maxW;
    margin: $margin;
}

@mixin flexDisplay($display, $direction, $jusContent, $alignItems){
    display: $display;
    flex-direction: $direction;
    justify-content: $jusContent;
    align-items: $alignItems;
}

@mixin link($link, $hover){
    a{
        text-decoration: none;
        color: $link;
        position: relative;
        line-height: 1;

        &::after{
            display: block;
	        position: absolute;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $hover;
            content: "";
            transition: width 0.3s ease-out;
        }

        &:hover{
            color: $hover;

            &::after{
                width: 100%;
            }
        }
    }

}

@mixin glassMorph($background, $blur) {
    border-radius: $servicesBR;
    background: $background;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur($blur);
}

@mixin title($fontSize, $fontWeight, $letterSpacing, $align, $textTransf, $lineHeight) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    letter-spacing: $letterSpacing;
    text-align: $align;
    text-transform: $textTransf;
    line-height: $lineHeight;
}

//scroll animation
@mixin bgGradient {
    background:
      $colorOutlineFade
      linear-gradient(
        transparent 0%,
        transparent 50%,
        $colorOutline 50%,
        $colorOutline 100%
      );
}

@mixin transform-style {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@mixin backface-visibility {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

@mixin card-3d__img-position($zIndex) {
    display: block;
    position: absolute;
    z-index: $zIndex;
}
// mixins --------------------------------------------------------------------------------------------------------- mixins