.about-section {
    background-image: url('../img/background.png');
    background-attachment: fixed;
}

.greeting-block {
    max-width: 1200px;
    margin: 0px auto;
    padding-bottom: 5rem;
    .greeting-block__wrapper {
        padding: 20px;
    }
    .greeting-block__container {
        margin-top: 70px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .main-info {
            width: 40%;
            height: auto;
            padding: 1.5rem;
            border-radius: 1rem;
            position: relative;
            left: 55px;
            border-radius: 6px;
            background: rgba(255, 255, 255, 0.2);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            text-align: center;

            .salutation {
                font-size: 27px;
                color: white;
                .myNameis {
                    font-size: 40px;
                }
                .myName {
                    font-weight: bold;
                    font-size: 45px;
                    color: #75dab4;
                    letter-spacing: 0.1em;
                }
            }
            .speciality {
                font-size: 30px;
                color: white;
                letter-spacing: 6px;
                font-family: 'Barlow Condensed', sans-serif;
            }
        }
        .avatar-container {
            width: 60%;
        }
    }
    .greeting-block__social {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .greeting-block__divider {
            height: 1px;
            background-color: white;
            width: 75px;
            margin: 0px 20px;
        }
        .social-list {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            .social-list_li {
                padding: 0px 7px;
                .menu-item {
                    i {
                        color: #75dab4;
                        transition: all 150ms ease-in;
                        &:hover {
                            font-size: 20px;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}
