#cursor {
	position: fixed;
	border-radius: 100%;
	transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
	user-select: none;
	pointer-events: none;
	z-index: 2000;
	width: 8px;
	height: 8px;
	background-color: #39e4a2;
	transform: scale(1);
}
#aura {
	position: fixed;
	border-radius: 100%;
	transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
	user-select: none;
	pointer-events: none;
	z-index: 2000;
	width: 46px;
	height: 46px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: rgba(255, 255, 255, 0.027);
	transform: translate(5px, 5px);
}
#cursor.activeCursor {
	opacity: 0;
	transform: scale(0);
}
#aura.activeCursor {
	border: 1px solid rgba(255, 255, 255, 0.5);
	background-color: rgba(255, 255, 255, 0.033);
	transform: scale(1.5);
}
#cursor.hidden {
	transform: scale(0.001);
}
#aura.hidden {
	transform: scale(0.001);
}