.scroll-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	margin: 30px auto 100px;
}
.scroll-animation {
	background: #4e5559 linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
	position: relative;
	width: 41px;
	height: 76px;
	border-radius: 100px;
	background-size: 100% 200%;
	animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
	display: flex;
	justify-content: center;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		width: 35px;
		height: 70px;
		background-color: #222a30;
		border-radius: 100px;
	}
	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		background-color: #ffffff;
		width: 10px;
		height: 10px;
		border-radius: 100%;
		animation: trackBallSlide 5s linear infinite;
	}
	p {
		position: absolute;
		top: 30px;
		margin-top: 50px;
		font-family: "Cabin", sans-serif;
		letter-spacing: 8px;
		text-indent: 12px;
		color: #ffffff;
		animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
	}
}