.projects-title__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    margin: 0 auto;
    padding: 80px 40px 40px;
    .title-phrase {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 14px;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.5;
        color: #75DAB4;
        position: relative;
        top: 10px;
    }
}
.projects-title__main {
    .title-phrase {
        text-align: left;
        padding-bottom: 20px;
        text-transform: none;
        letter-spacing: 8px;
    }
    p {
        &:not(.title-phrase) {
            padding-top: 10px;
            color: white;
            font-size: 20px;
        }
    }
    h2 {
        color: white;
        font-size: 80px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 90px;
        font-family: "Barlow Condensed", sans-serif;
    }
}